<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Filters
    </title>
  </head>
  <body>
    <div>
        <p>Filter abs</p>
        <div>
            {{ number = -5 }}
            {{ number|abs }}
        </div>
        <hr style="border-top: 2px dotted black" />
    </div>
  </body>
</html>