{% block header %}
    <header class="header">
    {% set foo = "bar" %}
    <p>{{cool}}</p>
    <p>{{ value }}</p>
    <div class="logo-wrapper">logasa</div>
    <div class="name-wrapper"><h1>Langivi Technology</h1></div>
    </header>
{% endblock %}
