<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<main>
    <p>New temlate !</p>
    <div>New word {{data}}</div>
    <a href="http://localhost:3001/">Home </a>
</main>

</body>
</html>
